/** {
border: 1px solid red;
}*/

body {
  font-family: 'Raleway', sans-serif;
  color: #44494c;
  font-weight: 400;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
}

.logo {
  opacity: .5;
  max-width: 78px;
  margin-top: 1.2em;
}

.text-dim {
  color: rgba(68, 73, 76, 0.59);
}

.main-title {
  font-weight: 100;
  text-transform: uppercase;
}

.subtitle {
  font-weight: 400;
  text-transform: uppercase;
}

.main-banner {
  display: none;
}

.header-divider {
  border: 1.5px solid rgba(120, 144, 156, 0.29);
}

.normal-text {
  font-weight: 300;
}

.caption {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.56);
}

/* Media Queries*/

@media screen and (max-width: 500px) {
  .logo {
    width: 60px;
    display: block;
    margin: 24px auto 8px;
  }

  .subtitle {
    text-align: center;
    font-size: 1.4em;
  }

  .main-title {
    text-align: center;
    font-size: 2.6em;
    margin-bottom: 4px;
  }

  .header-divider {
    width: 50vw;
  }

  .normal-text {
    font-size: 1.3em;
  }

  .text-dim {
    text-align: center;
  }
}
